.home {
  color: white;
  display: flex;
  justify-content: space-between;
  margin: auto;
  height: 100vh;
}

.home .info {
  margin-top: 50px;
  height: 70vh;
  width: 40%;
}

.home h1 {
  font-size: 2rem;
  color: #236bbe;
  margin: 0;
}

.home span {
  color: #236bbe;
  font-size: 16px;
  font-weight: 900;
}

.home h2 {
  align-items: center;
  display: flex;
  margin-bottom: 50px;
  margin-left: 5px;
}

.home button {
  background-color:#236bbe;
  border: none;
  border-radius: 7px;
  color: aliceblue;
  font-size: 1.2rem;
  font-weight: 900;
  padding: 7px;
  margin: 0.5rem;
}
.home button:hover {
  background-color: blueviolet;
  transform: scale(1.1);
  transition: 0.3s;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
}

.image img {
  max-width: 100%;
}
